# Build outputs
dist/
build/
target/

# Node
node_modules/
.pnp
.pnp.js

# Rust / Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/gen/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Test / Coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
